.card-title{
  text-align: center;
}
.imgcontactlogo{
  height: auto;
  width: auto;
}
.back{
  color: rgb(2, 2, 2);
}

.span{
  margin-top: 50px;
}
.span span{
  font-size: 3.5rem;
  background-color: rgb(223, 165, 124);
  color: rgb(175, 60, 18);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem ;
  margin: 0.1rem;
}